<div id="<%= dom_id tithe %>">
  <p>
    <strong>Amount:</strong>
    <%= tithe.amount %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= tithe.note %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= tithe.date %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= tithe.member_id %>
  </p>

</div>
