<%= form_with(model: offering) do |form| %>
  <% if offering.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
        <% offering.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :offering_type, style: "display: block" %>
    <%= form.collection_select :offering_type, ['General', 'Especial', 'Construccion'], :to_s, :to_s %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.textarea :note %>
  </div>

  <div>
    <%= form.label :member_id, style: "display: block" %>
    <%= form.collection_select :member_id, Member.all, :id, :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
