<div id="<%= dom_id offering %>">
  <p>
    <strong>Amount:</strong>
    <%= offering.amount %>
  </p>

  <p>
    <strong>Offering type:</strong>
    <%= offering.offering_type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= offering.date %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= offering.note %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= offering.member_id %>
  </p>

</div>
