<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= member.status %>
  </p>

  <p>
    <strong>Baptism date:</strong>
    <%= member.baptism_date %>
  </p>

  <p>
    <strong>Holy spirit:</strong>
    <%= member.holy_spirit %>
  </p>

  <p>
    <strong>Visitor:</strong>
    <%= member.visitor %>
  </p>

</div>
